<!-- templates/borrow_book.html -->
<!DOCTYPE html>
<html>
<head><title>Borrow Book</title></head>
<body>
    <h1>Borrow a Book</h1>
    <form method="POST">
        Book:
        <select name="book_id">
            {% for book in books %}
            <option value="{{ book[0] }}">{{ book[1] }}</option>
            {% endfor %}
        </select><br>

        Member:
        <select name="member_id">
            {% for member in members %}
            <option value="{{ member[0] }}">{{ member[1] }}</option>
            {% endfor %}
        </select><br>

        Borrow Date: <input type="date" name="borrow_date"><br>
        Return Date: <input type="date" name="return_date"><br>
        <input type="submit" value="Borrow">
    </form>
</body>
</html>
